# Intellij related files/directories.
*.iml
*.iml
*.ipr
*.iws
.idea/

# Gradle related files/directories.
.gradle
/build
target

# Project log files/directories.
*.log

# Ignore Python bytecode file.
*.pyc

# Ignore generated Python protobuf file.
*_pb2.py
